<launch>
    <!-- ASV description and parameters -->
    <include file="$(find asv_description)/launch/asv.launch">
        <arg name="system_name" value="boat2"/>
    </include>

    <!-- MAVROS -->
    <include file="$(find mavros)/launch/apm.launch.airboat" />

    <!-- System components health monitor -->
    <arg name="config_file" default="$(find system_monitor)/config/monitors.yaml"/>
    <rosparam command="load" file="$(arg config_file)"/>
    <node name="cpu_monitor" pkg="system_monitor" type="cpu_monitor.py"/>
    <node name="mem_monitor" pkg="system_monitor" type="mem_monitor.py"/>
    <node name="net_monitor" pkg="system_monitor" type="net_monitor.py"/>
    <node name="system_monitor" pkg="system_monitor" type="sys_monitor.py" />
    <node name="vehicle_monitor" pkg="system_monitor" type="vehicle_monitor.py" />

    <!-- ASV peripherals (e.g., power actuation, signal lights, sound horns, etc) -->
    <node name="asv_control_peripherals" pkg="asv_control" type="peripherals.py" />

    <!-- Data logger -->
    <node name="data_logger" pkg="ros_data_logger" type="data_logger.py">
        <param name="system_name" value="boat2"/>
    </node>
</launch>