<launch>
    <!-- ASV description and parameters -->
    <include file="$(find asv_description)/launch/asv.launch">
        <arg name="system_name" value="boat1"/>
    </include>

    <!-- MAVROS -->
    <include file="$(find mavros)/launch/apm.launch.diff" />

    <!-- System components health monitor -->
    <group ns="boat1">
        <arg name="config_file" default="$(find system_monitor)/config/monitors.yaml"/>
        <rosparam command="load" file="$(arg config_file)"/>
        <node name="cpu_monitor" pkg="system_monitor" type="cpu_monitor.py"/>
        <node name="mem_monitor" pkg="system_monitor" type="mem_monitor.py"/>
        <node name="net_monitor" pkg="system_monitor" type="net_monitor.py"/>
        <node name="vehicle_monitor" pkg="system_monitor" type="vehicle_monitor.py" />
        <node name="internal_temp_monitor" pkg="system_monitor" type="internal_temp_monitor.py"/>
    </group>
    <!-- Diagnostics aggregator for vehicle -->
    <node name="boat1_diag_agg" pkg="diagnostic_aggregator" type="aggregator_node">
        <rosparam command="load" file="$(find asv_description)/diag/vehicle.yaml" />
    </node>

    <!-- ASV peripherals (e.g., power actuation, signal lights, sound horns, etc) -->
    <node name="asv_control_peripherals" pkg="asv_control" type="peripherals.py" />

    <!-- Data logger -->
    <node name="data_logger" pkg="ros_data_logger" type="data_logger.py">
        <param name="system_name" value="boat1"/>
        <rosparam command="load" file="$(find ros_data_logger)/param/vehicle.yaml"/>
    </node>
</launch>
